*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    max-width: 100vw;
    height: auto;
    background-image: url("images/jose-aljovin-JZMdGltAHMo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.survey{
    margin: 2% 30%;
    width: 43%;
    height: auto;
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
}
.form{
    width: 92%;
    background-color: rgba(0, 0, 0, 0.968);
    margin-top: 10px;
    margin-left: 25px;
    padding: 30px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 14px;
    line-height: 25px;
}
.survey h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}
.survey p{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
}
#size{
    width: 35vw;
    height: 29px;
    font-family: 'Familjen Grotesk', sans-serif;
}
#role{
    width: 35vw;
    height: 25px;
}
#option{
    width: 35vw;
    height: 25px;
}
#submit{
width: 35vw;
height: 40px;
background-color: green;
border: none;
color: white;
}
#tarea{
    width: 35vw;
}